 .u-section-1 {
  min-height: 887px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.7);
  height: 824px;
  margin-top: 63px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: -665px calc(((100% - 1140px) / 2) + 766px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  margin: 30px calc(((100% - 1140px) / 2) + 393px) 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 566px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 193px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 822px;
    margin-top: 65px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 346px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 823px;
    margin-top: 64px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 166px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 820px;
    margin-top: 67px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 638px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -176px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 729px;
}

.u-section-2 .u-list-item-1 {
  animation-duration: 1000ms;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-style: normal;
  margin: 34px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-style: normal;
  margin: 34px 0 0;
}

.u-section-2 .u-list-item-3 {
  animation-duration: 1000ms;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  font-style: normal;
  margin: 34px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-2 .u-list-1 {
    width: 1067px;
    margin: -174px -207px 57px auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
    min-height: 708px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -177px;
    height: auto;
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1381px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1168px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -165px;
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1449px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -178px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  min-height: 1060px;
}

.u-section-3 .u-image-1 {
  height: 705px;
  margin: 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -141px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  grid-gap: 30px 30px;
  min-height: 411px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 89px;
  width: 89px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  margin: 18px 0 0;
}

.u-section-3 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  margin: 18px 0 0;
}

.u-section-3 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  margin: 18px 0 0;
}

.u-section-3 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-3 .u-text-8 {
  font-style: normal;
  margin: 18px 0 0;
}

.u-section-3 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: -935px calc(((100% - 1140px) / 2) + 468px) 0 calc(((100% - 1140px) / 2) + 73px);
}

.u-section-3 .u-text-10 {
  font-size: 4.5rem;
  margin: 18px calc(((100% - 1140px) / 2) + 409px) 60px calc(((100% - 1140px) / 2) + 73px);
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1145px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -1015px;
    margin-right: calc(((100% - 940px) / 2) + 225px);
    margin-left: calc(((100% - 940px) / 2) + 116px);
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 9px;
    margin-right: calc(((100% - 940px) / 2) + 179px);
    margin-left: calc(((100% - 940px) / 2) + 103px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1320px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-3 .u-text-9 {
    margin-top: -1168px;
    margin-right: calc(((100% - 720px) / 2) + 113px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-10 {
    font-size: 4.125rem;
    margin-top: 2px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1864px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.125rem;
    margin-top: -1729px;
    margin-right: calc(((100% - 540px) / 2) + -63px);
    margin-left: calc(((100% - 540px) / 2) + -37px);
  }

  .u-section-3 .u-text-10 {
    font-size: 4rem;
    margin-top: 11px;
    margin-right: calc(((100% - 540px) / 2) + -63px);
    margin-left: calc(((100% - 540px) / 2) + -37px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1948px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-9 {
    width: 340px;
    margin-top: -1827px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-10 {
    font-size: 2.375rem;
    width: 340px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-4 {
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 700px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 90px auto 90px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 626px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 359px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 40px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 267px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-1 {
  height: 41px;
  width: 41px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 292px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-2 {
  height: 41px;
  width: 41px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-icon-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 11.25% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 790px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 266px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -18px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 281px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: -19px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
} .u-section-5 {
  min-height: 328px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 345px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 345px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-5 .u-text-1 {
  margin: 44px 20px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 14px 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 20px 0 0;
}

.u-section-5 .u-image-2 {
  min-height: 345px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 345px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 20px;
}

.u-section-5 .u-text-4 {
  margin: 56px 20px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 14px 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 385px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 385px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 16px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-2 {
    min-height: 385px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 385px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 16px;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-top: 35px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 57px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 328px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 345px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-right: 13px;
  }

  .u-section-5 .u-image-2 {
    min-height: 345px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 345px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-6 {
    position: relative;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1159px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 296px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 239px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-5 .u-image-2 {
    min-height: 325px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 249px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 14px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1308px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 343px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-5 .u-image-2 {
    min-height: 343px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 277px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 6px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 843px;
}

.u-section-6 .u-group-1 {
  width: 909px;
  min-height: 186px;
  margin: 38px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-right: 6px;
}

.u-section-6 .u-text-1 {
  width: 510px;
  margin: 44px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 21px 20px 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin-bottom: 60px;
  margin-top: 69px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 460px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-6 .u-text-4 {
  font-style: normal;
  margin: 18px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-6 .u-text-6 {
  font-style: normal;
  margin: 18px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-6 .u-text-8 {
  font-style: normal;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-6 .u-group-1 {
    width: 749px;
    position: relative;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 5px;
  }

  .u-section-6 .u-text-1 {
    width: 421px;
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-top: 16px;
    margin-right: -131px;
    margin-left: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
    min-height: 572px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-6 .u-group-1 {
    min-height: 232px;
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 4px;
  }

  .u-section-6 .u-text-1 {
    width: 479px;
    margin-top: 25px;
  }

  .u-section-6 .u-text-2 {
    margin: 17px 13px 25px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
    margin-top: 25px;
    width: 720px;
    margin-right: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 871px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1241px;
  }

  .u-section-6 .u-group-1 {
    width: 538px;
    min-height: 237px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 3px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 23px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
    margin-bottom: 50px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1493px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    min-height: 259px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 6px;
    width: NaNpx;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
    margin-top: 36px;
    margin-bottom: 45px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 540px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 540px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  margin: 55px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-7 .u-text-3 {
  line-height: 2;
  font-style: normal;
  margin: 15px 0 55px;
}

.u-section-7 .u-image-1 {
  min-height: 540px;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
  }

  .u-section-7 .u-text-2 {
    position: relative;
  }

  .u-section-7 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 47px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 0 9px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
  }

  .u-section-7 .u-text-3 {
    margin-bottom: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 411px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
    margin: 24px -15px 40px auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-7 .u-image-1 {
    min-height: 265px;
  }
} .u-section-8 {
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 769px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 42px auto 60px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 193px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-1 {
  margin: 33px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 242px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-8 .u-icon-1 {
  height: 41px;
  width: 41px;
  margin: 25px auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 30px 40px 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 20px 2px 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 242px;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-8 .u-icon-2 {
  height: 41px;
  width: 41px;
  margin: 30px auto 0 0;
}

.u-section-8 .u-text-5 {
  margin: 25px 40px 0 0;
}

.u-section-8 .u-text-6 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 21px 0 0;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 267px;
}

.u-section-8 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-3 {
  height: 41px;
  width: 41px;
  margin: 25px auto 0 20px;
}

.u-section-8 .u-text-7 {
  margin: 30px 20px 0;
}

.u-section-8 .u-text-8 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 20px 20px 0;
}

.u-section-8 .u-layout-cell-5 {
  min-height: 242px;
}

.u-section-8 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-4 {
  height: 41px;
  width: 41px;
  margin: 25px auto 0 20px;
}

.u-section-8 .u-text-9 {
  margin: 30px 20px 0;
}

.u-section-8 .u-text-10 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 20px 20px 0;
}

.u-section-8 .u-image-1 {
  min-height: 650px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
  }

  .u-section-8 .u-text-2 {
    position: relative;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-8 .u-icon-1 {
    height: 34px;
    width: 34px;
    position: relative;
  }

  .u-section-8 .u-text-3 {
    position: relative;
    margin-right: 32px;
  }

  .u-section-8 .u-text-4 {
    position: relative;
    margin-right: 32px;
    margin-left: 0;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-8 .u-icon-2 {
    height: 34px;
    width: 34px;
    position: relative;
  }

  .u-section-8 .u-text-5 {
    position: relative;
    margin-right: 32px;
  }

  .u-section-8 .u-text-6 {
    position: relative;
    margin-right: 32px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 242px;
  }

  .u-section-8 .u-icon-3 {
    height: 34px;
    width: 34px;
    position: relative;
    margin-left: 16px;
  }

  .u-section-8 .u-text-7 {
    position: relative;
    margin-right: 12px;
    margin-left: 16px;
  }

  .u-section-8 .u-text-8 {
    position: relative;
    margin-right: 12px;
    margin-left: 16px;
  }

  .u-section-8 .u-icon-4 {
    height: 34px;
    width: 34px;
    position: relative;
    margin-left: 16px;
  }

  .u-section-8 .u-text-9 {
    position: relative;
    margin-right: 12px;
    margin-left: 16px;
  }

  .u-section-8 .u-text-10 {
    position: relative;
    margin-right: 12px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    background-position: 44.92% 50%;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 524px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-8 .u-icon-1 {
    height: 26px;
    width: 26px;
    margin-left: 20px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-8 .u-icon-2 {
    height: 26px;
    width: 26px;
    margin-left: 20px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-icon-3 {
    height: 26px;
    width: 26px;
    margin-left: 13px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-icon-4 {
    height: 26px;
    width: 26px;
    margin-left: 13px;
  }

  .u-section-8 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    background-position: 36.25% 50%;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 154px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 6px;
  }

  .u-section-8 .u-icon-1 {
    height: 24px;
    width: 24px;
    margin-left: 9px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: -24px;
    margin-right: 316px;
    margin-left: 44px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 27px;
    margin-right: 7px;
    margin-left: 11px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 154px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 6px;
  }

  .u-section-8 .u-icon-2 {
    height: 24px;
    width: 24px;
    margin-left: 9px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: -21px;
    margin-right: 340px;
    margin-left: 44px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 7px;
    margin-right: 7px;
    margin-left: 11px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 154px;
  }

  .u-section-8 .u-icon-3 {
    height: 24px;
    width: 24px;
    margin-left: 9px;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-top: -24px;
    margin-right: 290px;
    margin-left: 53px;
  }

  .u-section-8 .u-text-8 {
    width: auto;
    margin-top: 14px;
    margin-right: -2px;
    margin-left: 20px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 154px;
  }

  .u-section-8 .u-icon-4 {
    height: 24px;
    width: 24px;
    margin-left: 9px;
  }

  .u-section-8 .u-text-9 {
    width: auto;
    margin-top: -21px;
    margin-right: 313px;
    margin-left: 53px;
  }

  .u-section-8 .u-text-10 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-8 .u-image-1 {
    min-height: 424px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 4px;
  }

  .u-section-8 .u-icon-1 {
    height: 20px;
    width: 20px;
    margin-left: 6px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -20px;
    margin-right: 115px;
    margin-left: 37px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 23px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 4px;
  }

  .u-section-8 .u-icon-2 {
    height: 20px;
    width: 20px;
    margin-left: 6px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 163px;
    margin-left: 37px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-icon-3 {
    height: 20px;
    width: 20px;
    margin-left: 6px;
  }

  .u-section-8 .u-text-7 {
    margin-top: -20px;
    margin-right: 110px;
    margin-left: 37px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-icon-4 {
    height: 20px;
    width: 20px;
    margin-left: 6px;
  }

  .u-section-8 .u-text-9 {
    margin-right: 136px;
    margin-left: 37px;
  }

  .u-section-8 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-image-1 {
    min-height: 383px;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 574px;
}

.u-section-9 .u-group-1 {
  width: 800px;
  min-height: 380px;
  margin: 90px auto 55px;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-1 {
  margin: 40px 60px 0;
}

.u-section-9 .u-text-2 {
  font-size: 3rem;
  margin: 30px 60px 40px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-9 .u-group-1 {
    width: 857px;
    min-height: 483px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 28px;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 30px 49px 0;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 67px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-9 .u-text-2 {
    margin: 49px 49px 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-9 .u-group-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-9 .u-text-1 {
    position: relative;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-9 .u-text-2 {
    position: relative;
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-9 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-9 .u-group-1 {
    min-height: 592px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 70px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 42px;
    margin-left: 18px;
    margin-right: 18px;
  }
} .u-section-10 {
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 727px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 283px;
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  font-size: 3.75rem;
  width: 236px;
  margin: 14px auto 0;
}

.u-section-10 .u-line-1 {
  width: 106px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 22px auto 0;
}

.u-section-10 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  width: 676px;
  margin: 24px auto 0;
}

.u-section-10 .u-text-3 {
  margin: 15px 106px 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 560px;
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-icon-1 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  margin: 10px 92px 0 0;
}

.u-section-10 .u-icon-2 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 15px auto 0 0;
}

.u-section-10 .u-text-5 {
  font-weight: 700;
  margin: 10px 355px 0 0;
}

.u-section-10 .u-icon-3 {
  height: 38px;
  width: 38px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 21px auto 0 0;
}

.u-section-10 .u-text-6 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-10 .u-icon-4 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 15px auto 0 0;
}

.u-section-10 .u-text-7 {
  font-weight: 700;
  margin: 10px 229px 0 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 560px;
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-10 .u-form-1 {
  height: 313px;
  width: 530px;
  margin: 0;
}

.u-section-10 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 233px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-10 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-right: 255px;
  }

  .u-section-10 .u-text-7 {
    margin-right: 129px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 462px;
  }

  .u-section-10 .u-form-1 {
    width: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-10 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-10 .u-text-2 {
    width: 660px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-text-5 {
    margin-right: 145px;
  }

  .u-section-10 .u-text-7 {
    margin-right: 19px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 243px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-10 .u-form-1 {
    width: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1291px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 47px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 152px;
    margin-left: 122px;
  }

  .u-section-10 .u-line-1 {
    margin-top: 16px;
    margin-left: 187px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: 24px;
    margin-left: -24px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-right: 24px;
    margin-left: -24px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 150px;
  }

  .u-section-10 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-10 .u-text-4 {
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-10 .u-icon-2 {
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-10 .u-text-5 {
    width: 300px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-icon-3 {
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-10 .u-text-6 {
    margin-top: 11px;
  }

  .u-section-10 .u-icon-4 {
    margin-left: auto;
  }

  .u-section-10 .u-text-7 {
    width: auto;
    margin-right: 103px;
    margin-left: 132px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 365px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-top: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-form-1 {
    width: 520px;
    margin-top: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3rem;
    margin-right: 41px;
    margin-left: 53px;
  }

  .u-section-10 .u-line-1 {
    margin-top: 12px;
    margin-left: 94px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 502px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-icon-2 {
    margin-top: 11px;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-top: 11px;
    margin-right: 60px;
    margin-left: 45px;
  }

  .u-section-10 .u-icon-3 {
    margin-top: 7px;
  }

  .u-section-10 .u-text-6 {
    width: auto;
  }

  .u-section-10 .u-icon-4 {
    margin-top: 18px;
  }

  .u-section-10 .u-text-7 {
    width: 223px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 230px;
  }

  .u-section-10 .u-form-1 {
    width: 320px;
  }

  .u-section-10 .u-btn-1 {
    width: 100%;
  }
}